@import './../../../scss/colors';

.calendar {
    height: 100%;
    background-color: #272829;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px 20px;
}

.calendar-container {
    width: 100%;
    height: 465px;
}

.calendar-dates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
    height: 100%;
    max-height: 365px;
}

.week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.day {
    padding: 15px 5px;
    cursor: pointer;

    &:hover {
        background-color: $primary-color;
    }
}

.day_active {
    background-color: $primary-color;
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    font-size: 20px;
    padding: 15px 0;
    font-weight: bold;
}

.date-switcher {
    padding-bottom: 15px;
    border-bottom: 2px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.switcher-text {
    font-weight: bold;
    font-size: 18px;
}

@media (max-width: 961px) {
    .calendar {
        padding: 50px;
    }
}
