@import './../../scss/colors';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 100px;
    background-color: $bg-color;
}

@media (max-width: 575px) {
    .header {
        height: 50px;
        padding: 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100%;
    }

    .header_active {
        height: 100vh;
        align-items: flex-start;
    }
}
